@{
    ViewData["Title"] = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">

<script type="application/javascript" crossorigin="anonymous" src=@ViewBag.url></script>
<script type="application/javascript" crossorigin="anonymous" src="~/js/script.js"></script>

<div class="text-center">
    <h1 class="display-4">Asp.net - JS Checkout </h1>
    <h3 class="display-8">Make Payment</h3>
    <p>You are making payment of ₹1</p>
    <button type="button" id="JsCheckoutPayment" name="submit" class="btn btn-primary">Pay Now</button>
</div>

<script type="application/javascript">
    document.getElementById("JsCheckoutPayment").addEventListener("click", function(){
       openJsCheckoutPopup("@ViewBag.orderId","@ViewBag.txnToken","@ViewBag.amount");
        }
    );

 
</script>
